.cta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 408px;
    margin:  0 auto;
    .cta__content{
        width: 1224px;
        height: 248px;
        border-radius: 16px;
        background: var(--gradient-brand, linear-gradient(322deg, #6966FF 0%, rgba(105, 102, 255, 0.36) 100%));
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
        .cta__content-1{
            padding-top: 40px;
            background-color: #ffffff00;
            color: var(--text-icon-primary, #FFF);
            text-align: center;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 450;
            line-height: 24px;
            letter-spacing: -0.252px;
        }
        .cta__content-2{
            padding-top: 8px;
            background-color: #ffffff00;
            color: var(--text-icon-primary, #FFF);
            text-align: center;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: 'Inter', sans-serif;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: -0.88px;
        }
        .cta__content-button{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            margin-left: 525px;
            width: 169px;
            height: 48px;
            border-radius: 7.29px;
            background: var(--base-white, #FFF);
            border: 1px solid white;
            .cta__content-button-text{
                background-color: #ffffff00;
                color: var(--accent-brand, #6966FF);
                text-align: center;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: -0.176px;
            }
            .cta__content-button-text-img{
                background-color: #ffffff00;
            }
        }
        .cta__content-button:hover{
            background-color: #b9b9b9;
            .cta__content-button-text{
                color: black;
            }
        }
    }
}
@media (max-width: 376px){
    .cta{
        width: 100%;
        height: 336px;
        .cta__content{
            width: 272px;
            height: 256px;
            .cta__content-1{
                font-size: 16px;
            }
            .cta__content-2{
                font-size: 27px;
            }
            .cta__content-button{
                margin-left: 16px;
                margin-top: 30px;
                width: 240px;
                height: 40px;
            }
        }
    }
}