.body {
  background-color: #1C1C28;
  width: 1743px;
}

.header {
  height: 100px;
  width: 100%;
}
.header .header-logo {
  padding: 20px 0px 0px 20px;
}
.header .header-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header-button {
  margin-top: -12px;
  margin-left: 50px;
  border-radius: 10px;
  border: none;
  height: 48px;
  width: 141px;
  color: white;
  background-color: #6966FF;
}
.header-button .header-button-p1 {
  margin-top: 10px;
}
.header-button .header-button-p2 {
  display: none;
}

.nav_links {
  margin-right: 50px;
  margin-top: 15px;
  display: flex;
}
.nav_links a {
  text-decoration: none;
}

.nav_links li a {
  padding: 0px 35px;
  font-size: 16px;
  color: #C8C7D8;
  transition: all 0.3s ease 0s;
}

li {
  list-style-type: none;
}

.main .main-p1 {
  font-size: 50px;
}
.main .main-menu {
  margin-top: 100px;
  margin-left: 400px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.main .main-menu .main-menu-p1 {
  font-size: 18px;
  color: white;
}
.main .main-approvals-1 {
  background-color: #393953;
  border-radius: 16px 16px 16px 16px;
  width: 392px;
  height: 416px;
}
.main .main-approvals-1 .main-approvals-p1 {
  padding: 10px 0px 0px 20px;
  color: white;
}
.main .main-approvals-1 .main-approvals-p2 {
  color: white;
  font-size: 24px;
  margin-left: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.456px;
}
.main .main-approvals-1 .main-approvals-p3 {
  color: white;
  margin-left: 20px;
  margin-top: 60px;
}

.main-app {
  gap: 50px;
  margin-left: 160px;
  display: grid;
  grid-template-columns: auto auto;
}

.butttton {
  margin-left: 565px;
  height: 48px;
  width: 180px;
  border: none;
  color: white;
  background-color: #393953;
}

footer {
  margin-top: 100px;
  height: 100px;
}
footer .footer-menu {
  margin-top: -50px;
  margin-left: 200px;
  display: flex;
  gap: 40px;
}
footer .footer-menu .footer-menu-p {
  color: white;
}

@media screen and (max-width: 400px) {
  .header {
    max-width: 300px;
  }
  .body {
    max-width: 300px;
  }
  .header-button {
    position: absolute;
    left: 200px;
    width: 110px;
    height: 50px;
  }
  .header-button .header-button-p1 {
    display: none;
  }
  .header-button .header-button-p2 {
    display: block;
    margin-top: 10px;
  }
  .links {
    display: none;
  }
  .main-p1 {
    font-size: 20px;
    margin-left: 100px;
  }
  .main-menu-p1 {
    display: none;
  }
  .main-app {
    margin-left: 0px;
    display: grid;
    grid-template-columns: auto;
  }
  .butttton {
    margin-top: 20px;
    margin-left: 100px;
  }
}