@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&family=Space+Mono:wght@400;700&display=swap');
@import "body";
@import "header";
*{
    padding: 0;
    margin: 0;
}
body{
    background: #1c1c28;
}